:root {
  --spacing: 20px;
  --spacing-quarter: calc(var(--spacing) / 4);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-triple: calc(var(--spacing) * 3);
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.required {
  color: red;
}
