:root {
  --spacing: 20px;
  --spacing-quarter: calc(var(--spacing) / 4);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-triple: calc(var(--spacing) * 3);
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.layout__content {
  padding: var(--spacing) var(--spacing-triple);

  p {
    max-width: 1024px;
  }
}

.layout__header-bar {
  align-items: center;
  background-color: var(--primary-color);
  padding: var(--spacing-half) var(--spacing-triple);
  display: flex;
}

.layout__heading {
  color: white;
  font-size: 1.3em;
}

.layout__heading-icon {
  margin-right: var(--spacing-half);
}
