.login-page {
  &__error {
    color: red;
    margin-bottom: var(--spacing-half);
  }
  &__label {
    display: inline-block;
    width: 100px;
    margin-bottom: var(--spacing-half);
  }

  &__row {
    margin-bottom: var(--spacing-half);
  }
}
