.layout {
  &__content {
    padding: var(--spacing) var(--spacing-triple);

    p {
      max-width: 1024px;
    }
  }

  &__header-bar {
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.3em;
    padding: var(--spacing-half) var(--spacing-triple);
    display: flex;
  }

  &__heading-icon {
    margin-right: var(--spacing-half);
  }

  &__header-left-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__header-right-content {
    display: flex;
    align-items: center;
    flex-shrink: 1;
  }
}
